In [145]:
import pandas as pd

In [146]:
model_df = pd.DataFrame(columns=['Local Government Area'])

, 
                                 'Employment_rate', 
                                 'Industrial_activity', 
                                 'Fuel_expenditure', 
                                 'Energy_spend_ratio', 
                                 'Population_density', 
                                 'Household_count', 
                                 'Building_type', 
                                 'Grid_supply_reliability', 
                                 'Road_accessibility', 
                                 'Safety', 
                                 'Solar_panel_usage',
                                 'Solar_panel_Adoption',
                                 'Environmental_impact'

In [147]:
residential_data = pd.read_excel("residential_dashboard_data.xlsx")

residential_df = residential_data[residential_data["Do you agree to participate in this study?"] == True]

residential_df = pd.DataFrame(residential_df)

print(residential_df.head())

            Timestamp  Participant_ID        GPS Location  \
0 2023-10-14 17:27:53             NaN  6.604490, 3.295428
1 2023-10-13 13:41:58             NaN  6.485117, 3.588230
2 2023-10-15 12:47:43             NaN  6.538454, 3.371616
3 2023-10-15 15:51:35             NaN  6.574953, 3.284678
4 2023-10-14 15:41:51             NaN  6.523978, 3.370611

  Local Government Area Local Community Development Area  \
0              Alimosho               Akowonjo / Ilupeju
1               Eti Osa                    Addo / Okeira
2                SOMOLU                       Ijebu Tedo
3              Alimosho                       Egbe-Liasu
4                SOMOLU                  Igbobi / Fadeyi

                                     House Address Preferred Language  \
0                         19 ISHOLA MAKINDE STREET             Yoruba
1                  9 Magbageola street, okeira nla             Yoruba
2  21 Olorunsogo St, Somolu 102216, Lagos, Nigeria             Yoruba
3                                 37 Pipeline road             Yoruba
4                                      48, Shyllon             Yoruba

   Consent_page  Consent  \
0           NaN      NaN
1           NaN      NaN
2           NaN      NaN
3           NaN      NaN
4           NaN      NaN

   Hello my name is {{NAME}} and I am a representative of LASG/SEforALL/ETO/Vista. We are conducting a study to understand the usage patterns and quantities of diesel/petrol generators in Lagos state.  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   ...  total_gen_hours_per_month  monthly_fuel_spend  \
0  ...                     47.630             12990.0
1  ...                    318.255             90000.0
2  ...                        NaN                 0.0
3  ...                     38.970              9000.0
4  ...                        NaN                 0.0

   monthly_fuel_consumption  monthly_fuel_conversion  monthly_gen_maintenance  \
0                     21.65                     4.33                    495.0
1                    150.00                    30.00                     83.0
2                       NaN                      NaN                      0.0
3                     15.00                     1.00                   2310.0
4                       NaN                      NaN                      0.0

   monthly_gen_maintenance_conversion  total_monthly_gen_spend  \
0                               0.330                  13485.0
1                               0.083                  90083.0
2                                 NaN                      0.0
3                               0.330                  11310.0
4                                 NaN                      0.0

  daily_solar_use  monthly_solar_willingness_to_pay  \
0             NaN                               NaN
1             NaN                               NaN
2             NaN                               NaN
3             NaN                               NaN
4             NaN                               NaN

   monthly_solar_willingness_to_pay_freq_conversion
0                                               NaN
1                                               NaN
2                                               NaN
3                                               NaN
4                                               NaN

[5 rows x 226 columns]

## ECONOMIC INDICATORS

### 1. HOUSEHOLD INCOME

In [148]:
residential_df['household_income'] = ''

residential_df['household_income'] = residential_df['total_monthly_income']

print(residential_df['household_income'].head())

0    175000.0
1    375000.0
2    375000.0
3     25000.0
4    175000.0
Name: household_income, dtype: float64

#### MEDIAN HOUSEHOLD INCOME PER LOCAL GOVERNMENT

In [149]:
# Filter out 0 and NA values
filtered_household_income = residential_df[(residential_df['household_income'] != 0) & (residential_df['household_income'].notna())]

# Group by state and calculate the median
median_household_income_df = filtered_household_income.groupby('Local Government Area')['household_income'].median()
median_household_income_df = pd.DataFrame(median_household_income_df)
print(median_household_income_df.head())

                       household_income
Local Government Area
Agege                           75000.0
Ajeromi-Ifelodun               175000.0
Alimosho                       175000.0
Amuwo Odofin                   175000.0
Apapa                           75000.0

In [150]:
median_household_income_df.rename(columns={'Local Government Area': 'Local Government Area', 'household_income': 'Median_household_income'}, inplace=True)
median_household_income_df.head()

                       Median_household_income
Local Government Area
Agege                                  75000.0
Ajeromi-Ifelodun                      175000.0
Alimosho                              175000.0
Amuwo Odofin                          175000.0
Apapa                                  75000.0

In [151]:
# Merge with model_df

model_df = model_df.merge(median_household_income_df, on='Local Government Area', how='outer')

In [152]:
model_df.head()

  Local Government Area  Median_household_income
0                 Agege                  75000.0
1      Ajeromi-Ifelodun                 175000.0
2              Alimosho                 175000.0
3          Amuwo Odofin                 175000.0
4                 Apapa                  75000.0

### 2. Employment Rate

In [153]:
residential_df["Primary source of income of the household?"].unique()

array(['Employment (Contract)', 'Self-employment', 'Employment',
       'Dont Know', 'Pension and retirement',
       'Government assistant programme', 'Others, please specify', nan],
      dtype=object)

In [154]:
residential_df['Employment_Status'] = ''

In [155]:
# Dictionary for renaming values
employment_rename_dict = {'Employment (Contract)': 'Employed', 'Self-employment': 'Employed', 'Employment': 'Employed',
              'Dont Know': 'Unemployed', 'Pension and retirement': 'Unemployed', 'Government assistant programme': 'Unemployed',
              'Others, please specify': 'Employed', '': 'UnEmployed'}

# Replace values in the 'City' column
residential_df['Employment_Status'] = residential_df['Primary source of income of the household?'].replace(employment_rename_dict)

print(residential_df['Employment_Status'].head())

0    Employed
1    Employed
2    Employed
3    Employed
4    Employed
Name: Employment_Status, dtype: object

In [156]:
# Group by LGA and calculate the number of employed and total count
Employment_rate_df = ''
Employment_rate_df = residential_df.groupby(['Local Government Area', 'Employment_Status']).size().unstack(fill_value=0)
Employment_rate_df['total'] = Employment_rate_df.sum(axis=1)
Employment_rate_df['employment_rate'] = (Employment_rate_df['Employed'] / Employment_rate_df['total']) * 100


# Create the final DataFrame with desired columns
Employment_rate_per = Employment_rate_df.reset_index()[['Local Government Area', 'employment_rate']]
Employment_rate_per.columns = ['Local Government Area', 'Employment_rate']

# Print the resulting DataFrame
print(Employment_rate_per)

   Local Government Area  Employment_rate
0                  Agege        97.474747
1       Ajeromi-Ifelodun        93.309859
2               Alimosho        83.102144
3           Amuwo Odofin        93.137255
4                  Apapa        98.550725
5                Badagry        89.629630
6                    Epe        83.098592
7                Eti Osa        95.161290
8            Ibeju Lekki       100.000000
9            Ifako-Ijaye        91.929825
10                 Ikeja        96.837945
11               Ikorodu        96.515679
12                Kosofe        95.250000
13        Lagos Mainland        95.416667
14          Lagos-Island        97.134670
15                Mushin        93.076923
16                   Ojo        90.000000
17          Oshodi-Isolo        96.296296
18                SOMOLU        96.733668
19              Surulere        94.905660

In [157]:
# Merge with model_df

model_df = model_df.merge(Employment_rate_per, on='Local Government Area', how='outer')
model_df.shape
print(model_df.head())

  Local Government Area  Median_household_income  Employment_rate
0                 Agege                  75000.0        97.474747
1      Ajeromi-Ifelodun                 175000.0        93.309859
2              Alimosho                 175000.0        83.102144
3          Amuwo Odofin                 175000.0        93.137255
4                 Apapa                  75000.0        98.550725

### 3. Industrial Activities

In [158]:
residential_df["Do you have a business you run in your household?"].unique()

array([ True, False])

In [159]:
residential_df['industrial_activity_status'] = ''

In [160]:
# Dictionary for renaming values
ind_act_rename_dict = {True: True, False: False}

residential_df['industrial_activity_status'] = residential_df['Do you have a business you run in your household?'].replace(ind_act_rename_dict)

print(residential_df['industrial_activity_status'].head())

0     True
1     True
2    False
3    False
4    False
Name: industrial_activity_status, dtype: bool

In [161]:
# Group by LGA and calculate the number of employed and total count
industrial_activity_df = ''
industrial_activity_df = residential_df.groupby(['Local Government Area', 'industrial_activity_status']).size().unstack(fill_value=0)
industrial_activity_df['total'] = industrial_activity_df.sum(axis=1)
industrial_activity_df['industrial_activity_rate'] = (industrial_activity_df[True] / industrial_activity_df['total']) * 100


# Create the final DataFrame with desired columns
industrial_rate_per = industrial_activity_df.reset_index()[['Local Government Area', 'industrial_activity_rate']]
industrial_rate_per.columns = ['Local Government Area', 'Industrial_activity']

# Print the resulting DataFrame
print(industrial_rate_per)

   Local Government Area  Industrial_activity
0                  Agege            18.625277
1       Ajeromi-Ifelodun            12.666667
2               Alimosho            23.427867
3           Amuwo Odofin            24.311927
4                  Apapa            28.095238
5                Badagry             7.857143
6                    Epe            15.068493
7                Eti Osa            36.702128
8            Ibeju Lekki             5.714286
9            Ifako-Ijaye            17.465753
10                 Ikeja            23.076923
11               Ikorodu            24.305556
12                Kosofe            34.164589
13        Lagos Mainland            22.137405
14          Lagos-Island            27.528090
15                Mushin            17.929760
16                   Ojo            13.989637
17          Oshodi-Isolo            29.870130
18                SOMOLU            36.714976
19              Surulere            29.795158

In [162]:
# Merge with model_df

model_df = model_df.merge(industrial_rate_per, on='Local Government Area', how='outer')
print(model_df.head())

  Local Government Area  Median_household_income  Employment_rate  \
0                 Agege                  75000.0        97.474747
1      Ajeromi-Ifelodun                 175000.0        93.309859
2              Alimosho                 175000.0        83.102144
3          Amuwo Odofin                 175000.0        93.137255
4                 Apapa                  75000.0        98.550725

   Industrial_activity
0            18.625277
1            12.666667
2            23.427867
3            24.311927
4            28.095238

## FINANCIAL INDICATORS

### 1. Generator expenditure

In [163]:
residential_df['gen_expenditure'] = ''

In [164]:
residential_df['gen_expenditure'] = residential_df['total_monthly_gen_spend']

print(residential_df['gen_expenditure'].head())

0    13485.0
1    90083.0
2        0.0
3    11310.0
4        0.0
Name: gen_expenditure, dtype: float64

In [165]:
# Filter out 0 and NA values
filtered_gen_expenditure = residential_df[(residential_df['gen_expenditure'] != 0) & (residential_df['gen_expenditure'].notna())]

# Group by state and calculate the median
median_gen_expenditure_df = filtered_gen_expenditure.groupby('Local Government Area')['gen_expenditure'].median()
median_gen_expenditure_df = pd.DataFrame(median_gen_expenditure_df)
print(median_gen_expenditure_df.head())

                       gen_expenditure
Local Government Area
Agege                          28644.0
Ajeromi-Ifelodun               28980.0
Alimosho                       26640.0
Amuwo Odofin                   29280.0
Apapa                          52785.0

In [166]:
median_gen_expenditure_df.rename(columns={'Local Government Area': 'Local Government Area', 'gen_expenditure': 'Gen_expenditure'}, inplace=True)
median_gen_expenditure_df.head()

                       Gen_expenditure
Local Government Area
Agege                          28644.0
Ajeromi-Ifelodun               28980.0
Alimosho                       26640.0
Amuwo Odofin                   29280.0
Apapa                          52785.0

In [167]:
# Merge with model_df

model_df = model_df.merge(median_gen_expenditure_df, on='Local Government Area', how='outer')

print(model_df.head())

  Local Government Area  Median_household_income  Employment_rate  \
0                 Agege                  75000.0        97.474747
1      Ajeromi-Ifelodun                 175000.0        93.309859
2              Alimosho                 175000.0        83.102144
3          Amuwo Odofin                 175000.0        93.137255
4                 Apapa                  75000.0        98.550725

   Industrial_activity  Gen_expenditure
0            18.625277          28644.0
1            12.666667          28980.0
2            23.427867          26640.0
3            24.311927          29280.0
4            28.095238          52785.0

### 2. Energy spend ratio

In [168]:
residential_df['total_monthly_energy_spend'] = ''

In [169]:
residential_df['total_monthly_energy_spend'] = residential_df['total_monthly_gen_spend'] + residential_df['monthly_grid_spend']

In [170]:
residential_df['total_monthly_energy_spend'].head()

0    35155.0
1    91583.0
2    10000.0
3    18310.0
4    20000.0
Name: total_monthly_energy_spend, dtype: float64

In [171]:
residential_df['energy_spend_ratio'] = ''

In [172]:
residential_df['energy_spend_ratio'] = round((residential_df['total_monthly_energy_spend'] / residential_df['household_income']) * 100, 1)

print(residential_df['energy_spend_ratio'].head())

0    20.1
1    24.4
2     2.7
3    73.2
4    11.4
Name: energy_spend_ratio, dtype: float64

In [173]:
# Filter out 0 and NA values
filtered_energy_spend_ratio = residential_df[(residential_df['energy_spend_ratio'] != 0) & (residential_df['energy_spend_ratio'].notna())]

# Group by state and calculate the median
median_energy_spend_ratio = filtered_energy_spend_ratio.groupby('Local Government Area')['energy_spend_ratio'].median()
median_energy_spend_ratio = pd.DataFrame(median_energy_spend_ratio)
print(median_energy_spend_ratio.head())

                       energy_spend_ratio
Local Government Area
Agege                                26.7
Ajeromi-Ifelodun                     19.4
Alimosho                             29.4
Amuwo Odofin                         15.7
Apapa                                26.2

In [174]:
median_energy_spend_ratio.rename(columns={'Local Government Area': 'Local Government Area', 'energy_spend_ratio': 'Energy_spend_ratio'}, inplace=True)
median_energy_spend_ratio.head()

                       Energy_spend_ratio
Local Government Area
Agege                                26.7
Ajeromi-Ifelodun                     19.4
Alimosho                             29.4
Amuwo Odofin                         15.7
Apapa                                26.2

In [175]:
# Merge with model_df

model_df = model_df.merge(median_energy_spend_ratio, on='Local Government Area', how='outer')
print(model_df.head())

  Local Government Area  Median_household_income  Employment_rate  \
0                 Agege                  75000.0        97.474747
1      Ajeromi-Ifelodun                 175000.0        93.309859
2              Alimosho                 175000.0        83.102144
3          Amuwo Odofin                 175000.0        93.137255
4                 Apapa                  75000.0        98.550725

   Industrial_activity  Gen_expenditure  Energy_spend_ratio
0            18.625277          28644.0                26.7
1            12.666667          28980.0                19.4
2            23.427867          26640.0                29.4
3            24.311927          29280.0                15.7
4            28.095238          52785.0                26.2

## Social Indicators

In [176]:
lga_additional_df= pd.read_csv("datasets/lga_data_df.csv")

lga_additional_df = pd.DataFrame(lga_additional_df)

print(lga_additional_df.head())

  Local Government Area    KM2  Population Population density per KM2  \
0                 Agege   17.0  1,555,834                      91,520
1      Ajeromi-Ifelodun   13.9  2,161,609                     155,511
2              Alimosho  137.8  3,082,900                      22,372
3          Amuwo Odofin  179.1    790,627                       4,414
4                 Apapa   38.5    786,730                      20,435

   HousholdCount  Household population density per KM2
0          65000                           3823.529412
1          94000                           6762.589928
2         520000                           3773.584906
3         165000                            921.273032
4          39000                           1012.987013

### 1. Population Density

In [177]:
pop_density = lga_additional_df[['Local Government Area', 'Population density per KM2']]

pop_density.rename(columns={'Local Government Area': 'Local Government Area', 'Population density per KM2': 'Population_density'}, inplace=True)

pop_density.head()

C:\Users\Vista\AppData\Local\Temp\ipykernel_27612\291010172.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop_density.rename(columns={'Local Government Area': 'Local Government Area', 'Population density per KM2': 'Population_density'}, inplace=True)

  Local Government Area Population_density
0                 Agege             91,520
1      Ajeromi-Ifelodun            155,511
2              Alimosho             22,372
3          Amuwo Odofin              4,414
4                 Apapa             20,435

In [178]:
# Merge with model_df

model_df = model_df.merge(pop_density, on='Local Government Area', how='outer')
print(model_df.head(20))

   Local Government Area  Median_household_income  Employment_rate  \
0                  Agege                  75000.0        97.474747
1       Ajeromi-Ifelodun                 175000.0        93.309859
2               Alimosho                 175000.0        83.102144
3           Amuwo Odofin                 175000.0        93.137255
4                  Apapa                  75000.0        98.550725
5                Badagry                  25000.0        89.629630
6                    Epe                  25000.0        83.098592
7                Eti Osa                 375000.0        95.161290
8            Ibeju Lekki                  75000.0       100.000000
9            Ifako-Ijaye                  75000.0        91.929825
10                 Ikeja                 175000.0        96.837945
11               Ikorodu                 175000.0        96.515679
12                Kosofe                 175000.0        95.250000
13        Lagos Mainland                 175000.0        95.416667
14          Lagos-Island                 175000.0        97.134670
15                Mushin                  75000.0        93.076923
16                   Ojo                  25000.0        90.000000
17          Oshodi-Isolo                 175000.0        96.296296
18                SOMOLU                 175000.0        96.733668
19              Surulere                 175000.0        94.905660

    Industrial_activity  Gen_expenditure  Energy_spend_ratio  \
0             18.625277          28644.0               26.70
1             12.666667          28980.0               19.40
2             23.427867          26640.0               29.40
3             24.311927          29280.0               15.70
4             28.095238          52785.0               26.20
5              7.857143          25513.5               34.00
6             15.068493          32166.0               64.60
7             36.702128          51972.0               22.55
8              5.714286          91750.0                8.00
9             17.465753          28604.4               26.70
10            23.076923          31980.0               29.10
11            24.305556          54495.5               16.80
12            34.164589          37650.0               23.40
13            22.137405          30435.0               19.50
14            27.528090          57500.0               15.20
15            17.929760          30290.0               28.00
16            13.989637          32496.0               31.65
17            29.870130          54330.0               24.70
18            36.714976          30980.0               18.70
19            29.795158          50064.0               20.00

   Population_density
0              91,520
1             155,511
2              22,372
3               4,414
4              20,435
5               1,293
6                 505
7               4,952
8                 230
9              26,069
10             19,571
11              3,008
12             16,677
13             48,318
14            139,845
15            141,655
16              7,791
17             40,702
18            105,745
19             70,952

### 2. Household Population

In [179]:
# HOUSEHOLD COUNT

household_count_df = lga_additional_df[['Local Government Area', 'HousholdCount']]

household_count_df.rename(columns={'Local Government Area': 'Local Government Area', 'HousholdCount': 'Household_count'}, inplace=True)

household_count_df.head()

C:\Users\Vista\AppData\Local\Temp\ipykernel_27612\3495401753.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  household_count_df.rename(columns={'Local Government Area': 'Local Government Area', 'HousholdCount': 'Household_count'}, inplace=True)

  Local Government Area  Household_count
0                 Agege            65000
1      Ajeromi-Ifelodun            94000
2              Alimosho           520000
3          Amuwo Odofin           165000
4                 Apapa            39000

In [180]:
# Merge with model_df

model_df = model_df.merge(household_count_df, on='Local Government Area', how='outer')
print(model_df.head(5))

  Local Government Area  Median_household_income  Employment_rate  \
0                 Agege                  75000.0        97.474747
1      Ajeromi-Ifelodun                 175000.0        93.309859
2              Alimosho                 175000.0        83.102144
3          Amuwo Odofin                 175000.0        93.137255
4                 Apapa                  75000.0        98.550725

   Industrial_activity  Gen_expenditure  Energy_spend_ratio  \
0            18.625277          28644.0                26.7
1            12.666667          28980.0                19.4
2            23.427867          26640.0                29.4
3            24.311927          29280.0                15.7
4            28.095238          52785.0                26.2

  Population_density  Household_count
0             91,520            65000
1            155,511            94000
2             22,372           520000
3              4,414           165000
4             20,435            39000

### 3. Building Type

In [181]:
#Type of building 

#TYPE 1 - INDIVIDUAL DEPLOYMENT

residential_df['building_type_class_ID'] = ''

In [182]:
residential_df["What type of building is the household residing in?"].unique()

array(['Flat', 'Face to Face', 'Bungalow', 'Storey building',
       'Others, please specify', 'Duplex', 'Story building'], dtype=object)

In [183]:
# Dictionary for renaming values
building_type_ID_rename_dict = {"Flat": 4, 
                             "Face to Face": 2, 
                             "Bungalow": 5, 
                             "Storey building": 3, 
                             "Others, please specify": 1, 
                             "Duplex": 5,
                             "Story building": 3, 
                             "": 0}

residential_df['building_type_class_ID'] = residential_df['What type of building is the household residing in?'].replace(building_type_ID_rename_dict)

print(residential_df['building_type_class_ID'].head())

0    4
1    2
2    2
3    5
4    2
Name: building_type_class_ID, dtype: int64

In [191]:
# Filter out 0 and NA values
filtered_building_type_ID = residential_df[(residential_df['building_type_class_ID'] != 0) & (residential_df['building_type_class_ID'].notna())]

# Group by state and calculate the median
median_building_type_ID = filtered_building_type_ID.groupby('Local Government Area')['building_type_class_ID'].median()
median_building_type_ID = pd.DataFrame(median_building_type_ID)




median_building_type_ID.rename(columns={'Local Government Area': 'Local Government Area', 'building_type_class_ID': 'Building_type_ID'}, inplace=True)


print(median_building_type_ID.head())

                       Building_type_ID
Local Government Area
Agege                               2.0
Ajeromi-Ifelodun                    2.0
Alimosho                            5.0
Amuwo Odofin                        4.0
Apapa                               4.0

In [193]:
# Merge with model_df

model_df = model_df.merge(median_building_type_ID, on='Local Government Area', how='outer')
print(model_df.head(5))

  Local Government Area  Median_household_income  Employment_rate  \
0                 Agege                  75000.0        97.474747
1      Ajeromi-Ifelodun                 175000.0        93.309859
2              Alimosho                 175000.0        83.102144
3          Amuwo Odofin                 175000.0        93.137255
4                 Apapa                  75000.0        98.550725

   Industrial_activity  Gen_expenditure  Energy_spend_ratio  \
0            18.625277          28644.0                26.7
1            12.666667          28980.0                19.4
2            23.427867          26640.0                29.4
3            24.311927          29280.0                15.7
4            28.095238          52785.0                26.2

  Population_density  Household_count  Building_type_x  Building_type_y  \
0             91,520            65000              2.0              2.0
1            155,511            94000              2.0              2.0
2             22,372           520000              5.0              5.0
3              4,414           165000              4.0              4.0
4             20,435            39000              4.0              4.0

   Building_type_ID
0               2.0
1               2.0
2               5.0
3               4.0
4               4.0

In [194]:
#Type of building 

#TYPE 2 - GENERAL DEPLOYMENT

residential_df['building_type_class_GD'] = ''

In [195]:
residential_df["What type of building is the household residing in?"].unique()

array(['Flat', 'Face to Face', 'Bungalow', 'Storey building',
       'Others, please specify', 'Duplex', 'Story building'], dtype=object)

In [196]:
# Dictionary for renaming values
building_type_GD_rename_dict = {"Flat": 5, 
                             "Face to Face": 3, 
                             "Bungalow": 5, 
                             "Storey building": 4, 
                             "Others, please specify": 5, 
                             "Duplex": 5,
                             "Story building": 4, 
                             "": 0}

residential_df['building_type_class_GD'] = residential_df['What type of building is the household residing in?'].replace(building_type_GD_rename_dict)

print(residential_df['building_type_class_GD'].head())

0    5
1    3
2    3
3    5
4    3
Name: building_type_class_GD, dtype: int64

In [197]:
# Filter out 0 and NA values
filtered_building_type_GD = residential_df[(residential_df['building_type_class_GD'] != 0) & (residential_df['building_type_class_GD'].notna())]

# Group by state and calculate the median
median_building_type_GD = filtered_building_type_GD.groupby('Local Government Area')['building_type_class_GD'].median()
median_building_type_GD = pd.DataFrame(median_building_type_GD)


median_building_type_GD.rename(columns={'Local Government Area': 'Local Government Area', 'building_type_class_GD': 'Building_type_GD'}, inplace=True)


print(median_building_type_GD.head())

                       Building_type_GD
Local Government Area
Agege                               3.0
Ajeromi-Ifelodun                    3.0
Alimosho                            5.0
Amuwo Odofin                        5.0
Apapa                               5.0

In [198]:
# Merge with model_df

model_df = model_df.merge(median_building_type_GD, on='Local Government Area', how='outer')
print(model_df.head(5))

  Local Government Area  Median_household_income  Employment_rate  \
0                 Agege                  75000.0        97.474747
1      Ajeromi-Ifelodun                 175000.0        93.309859
2              Alimosho                 175000.0        83.102144
3          Amuwo Odofin                 175000.0        93.137255
4                 Apapa                  75000.0        98.550725

   Industrial_activity  Gen_expenditure  Energy_spend_ratio  \
0            18.625277          28644.0                26.7
1            12.666667          28980.0                19.4
2            23.427867          26640.0                29.4
3            24.311927          29280.0                15.7
4            28.095238          52785.0                26.2

  Population_density  Household_count  Building_type_x  Building_type_y  \
0             91,520            65000              2.0              2.0
1            155,511            94000              2.0              2.0
2             22,372           520000              5.0              5.0
3              4,414           165000              4.0              4.0
4             20,435            39000              4.0              4.0

   Building_type_ID  Building_type_GD
0               2.0               3.0
1               2.0               3.0
2               5.0               5.0
3               4.0               5.0
4               4.0               5.0

## INFRASTRUCTURE INDICATORS

### 1. Grid Supply Reliability

In [201]:
residential_df['grid_reliability'] = ''

In [202]:
residential_df["How many hours of electricity supply do you typically receive from the grid per day"].unique()

array(['4 - 8 hours', '13 - 18 hours', '9 - 12 hours', 'Nil', '< 4 hours',
       '> 18 hours'], dtype=object)

In [203]:
# Dictionary for renaming values
grid_reliability_rename_dict = {"Nil": 0, 
                                "< 4 hours": 1,
                                "4 - 8 hours": 2, 
                                "9 - 12 hours": 3, 
                                "13 - 18 hours": 4, 
                                "> 18 hours": 5, 
                                "": 0}

residential_df['grid_reliability'] = residential_df['How many hours of electricity supply do you typically receive from the grid per day'].replace(grid_reliability_rename_dict)

print(residential_df['grid_reliability'].head())

0    2
1    2
2    4
3    4
4    4
Name: grid_reliability, dtype: int64

In [204]:
# Filter out 0 and NA values
filtered_grid_reliability = residential_df[(residential_df['grid_reliability'] != 0) & (residential_df['grid_reliability'].notna())]

# Group by state and calculate the median
median_grid_reliability = filtered_grid_reliability.groupby('Local Government Area')['grid_reliability'].median()
median_grid_reliability = pd.DataFrame(median_grid_reliability)


median_grid_reliability.rename(columns={'Local Government Area': 'Local Government Area', 'grid_reliability': 'Grid_supply_reliability'}, inplace=True)


print(median_grid_reliability.head())

                       Grid_supply_reliability
Local Government Area
Agege                                      3.0
Ajeromi-Ifelodun                           3.0
Alimosho                                   3.0
Amuwo Odofin                               3.0
Apapa                                      2.0

In [205]:
# Merge with model_df

model_df = model_df.merge(median_grid_reliability, on='Local Government Area', how='outer')
print(model_df.head(5))

  Local Government Area  Median_household_income  Employment_rate  \
0                 Agege                  75000.0        97.474747
1      Ajeromi-Ifelodun                 175000.0        93.309859
2              Alimosho                 175000.0        83.102144
3          Amuwo Odofin                 175000.0        93.137255
4                 Apapa                  75000.0        98.550725

   Industrial_activity  Gen_expenditure  Energy_spend_ratio  \
0            18.625277          28644.0                26.7
1            12.666667          28980.0                19.4
2            23.427867          26640.0                29.4
3            24.311927          29280.0                15.7
4            28.095238          52785.0                26.2

  Population_density  Household_count  Building_type_x  Building_type_y  \
0             91,520            65000              2.0              2.0
1            155,511            94000              2.0              2.0
2             22,372           520000              5.0              5.0
3              4,414           165000              4.0              4.0
4             20,435            39000              4.0              4.0

   Building_type_ID  Building_type_GD  Grid_supply_reliability
0               2.0               3.0                      3.0
1               2.0               3.0                      3.0
2               5.0               5.0                      3.0
3               4.0               5.0                      3.0
4               4.0               5.0                      2.0

### 2. Road Accessibility

In [206]:
# Road Accessibility

residential_df['road_accessibility'] = ''

In [211]:
residential_df['road_accessibility'] = residential_df['How would you rate the overall road accessibility in your area? {Very poor = 1 and Excellent = 5}']

print(residential_df['road_accessibility'].head())

0    4
1    1
2    3
3    4
4    3
Name: road_accessibility, dtype: object

In [212]:
residential_df['road_accessibility'].unique()

array(['4', '1', '3', '5', '2', 'Dont Know'], dtype=object)

In [219]:
# Filter the DataFrame
filtered_road_accessibility = residential_df[
    (residential_df['road_accessibility'] != 0) &
    (residential_df['road_accessibility'].notna()) &
    (residential_df['road_accessibility'] != "Dont Know")
]
# Convert the Series to integers using astype
filtered_road_accessibility['road_accessibility'] = filtered_road_accessibility['road_accessibility'].astype(int)
# Get the unique values of the 'road_accessibility' column in the filtered DataFrame
unique_road_accessibility = filtered_road_accessibility['road_accessibility'].unique()

print(unique_road_accessibility)

[4 1 3 5 2]

C:\Users\Vista\AppData\Local\Temp\ipykernel_27612\1399663818.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_road_accessibility['road_accessibility'] = filtered_road_accessibility['road_accessibility'].astype(int)

In [220]:
# Group by state and calculate the median
median_road_accessibility = filtered_road_accessibility.groupby('Local Government Area')['road_accessibility'].median()
median_road_accessibility = pd.DataFrame(median_road_accessibility)


median_road_accessibility.rename(columns={'Local Government Area': 'Local Government Area', 'road_accessibility': 'Road_accessibility'}, inplace=True)


print(median_road_accessibility.head())

                       Road_accessibility
Local Government Area
Agege                                 3.0
Ajeromi-Ifelodun                      3.0
Alimosho                              2.0
Amuwo Odofin                          3.0
Apapa                                 3.0

In [221]:
# Merge with model_df

model_df = model_df.merge(median_road_accessibility, on='Local Government Area', how='outer')
print(model_df.head(5))

  Local Government Area  Median_household_income  Employment_rate  \
0                 Agege                  75000.0        97.474747
1      Ajeromi-Ifelodun                 175000.0        93.309859
2              Alimosho                 175000.0        83.102144
3          Amuwo Odofin                 175000.0        93.137255
4                 Apapa                  75000.0        98.550725

   Industrial_activity  Gen_expenditure  Energy_spend_ratio  \
0            18.625277          28644.0                26.7
1            12.666667          28980.0                19.4
2            23.427867          26640.0                29.4
3            24.311927          29280.0                15.7
4            28.095238          52785.0                26.2

  Population_density  Household_count  Building_type_x  Building_type_y  \
0             91,520            65000              2.0              2.0
1            155,511            94000              2.0              2.0
2             22,372           520000              5.0              5.0
3              4,414           165000              4.0              4.0
4             20,435            39000              4.0              4.0

   Building_type_ID  Building_type_GD  Grid_supply_reliability  \
0               2.0               3.0                      3.0
1               2.0               3.0                      3.0
2               5.0               5.0                      3.0
3               4.0               5.0                      3.0
4               4.0               5.0                      2.0

   Road_accessibility
0                 3.0
1                 3.0
2                 2.0
3                 3.0
4                 3.0

### 3. Safety

In [222]:
# Security

residential_df['security_rating'] = ''

In [223]:
residential_df['security_rating'] = residential_df['How would you rate the overall security in your area? {Very poor = 1 and Excellent = 5}']

print(residential_df['security_rating'].head())

0    3
1    5
2    3
3    3
4    4
Name: security_rating, dtype: object

In [224]:
residential_df['security_rating'].unique()

array(['3', '5', '4', '2', '1', 'Dont Know'], dtype=object)

In [225]:
# Filter the DataFrame
filtered_security_rating = residential_df[
    (residential_df['security_rating'] != 0) &
    (residential_df['security_rating'].notna()) &
    (residential_df['security_rating'] != "Dont Know")
]
# Convert the Series to integers using astype
filtered_security_rating['security_rating'] = filtered_security_rating['security_rating'].astype(int)
# Get the unique values of the 'road_accessibility' column in the filtered DataFrame
unique_security_rating = filtered_security_rating['security_rating'].unique()

print(unique_security_rating)

[3 5 4 2 1]

C:\Users\Vista\AppData\Local\Temp\ipykernel_27612\70649516.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_security_rating['security_rating'] = filtered_security_rating['security_rating'].astype(int)

In [ ]:
# Group by state and calculate the median
median_security_rating = filtered_security_rating.groupby('Local Government Area')['security_rating'].median()
median_security_rating = pd.DataFrame(median_security_rating)


median_road_accessibility.rename(columns={'Local Government Area': 'Local Government Area', 'road_accessibility': 'Road_accessibility'}, inplace=True)


print(median_road_accessibility.head())

In [ ]:
# ENVIRONMENTAL IMPACT

In [ ]:
#solar panel usage
residential_df['solar_panel_usage'] = ''

In [ ]:
#solar panel adoption
residential_df['solar_panel_adoption'] = ''

In [ ]:
##carbon emmission to erase
residential_df['carbon_emissions'] = ''